body {
    background: pink;
}

/* navigation bar */
#scanfcode {
    border-radius: 0px;
    background: #fff;
    padding: 10px;
    font-size: 17px;
}

/* logo or main heading */
#logo {
    font-size: 20px;
    font-weight: bolder;
    color: #00004d;
    letter-spacing: 2px;
}

/* navigation links*/
#link a {
    color: #01325d;
    margin: 0 20px 0 10px;
    letter-spacing: 1.5px;
}

/* navigation link with right border */
#first-link {
    padding-right: 6px;
    border-right: solid 1px #ccc;
}

/* sign up link button and toggle button */
#button-link, #toogle-button {
    color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .2);
    border-radius: 2px;
    background-color: #fa6a48;
    line-height: 17px;
}

#button-link a {
    color: #f2f2f2;
}

.store-name {
    padding: 20px;
}

.new {
    font-size: 15px;
    color: yellow;
    background: red;
    border-radius: 2px;
}

.card-img-top {
    height: 150px;
    object-fit: contain;
    padding: 5px;
}

.avatar > img {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}

.border {
    background: #f2f2f2;
    margin: 50px;
    border: 1px solid red;
}

/* Rating star style */

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating > input {
    display: none
}

.rating > label {
    position: relative;
    width: 1em;
    font-size: 25px;
    color: #FFD600;
    cursor: pointer
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important
}

.rating > input:checked ~ label:before {
    opacity: 1
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4
}
